{% extends 'layout.html' %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    table td {
        text-align: center;
    }
</style>
<table>
    <tr>
        <th>Produto</th> 
        <th>Quantidade</th>
        <th>Data</th>
    </tr>

    {% for l in listagem %}
    <tr>
        <td>{{l.campo_texto}}</td> 
        <td>{{l.campo_numero}}</td>
        <td>{{l.campo_data}}</td>
        <td>
            <a href="auth/add.html">Adicionar</a>  |
            <a href="auth/retirar.html">Retirar</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}